<div class="container">

  <div>
    <h2>Internships</h2>
    <%= render "components/searchbar" %>
  </div>

  <div class="card-job-show mb-2">
    <div class="d-flex justify-content-between align-items-end w-100">
      <div class="card-job-show-infos">
        <h2> <%= link_to @position.title, position_path(@position) %> </h2>
        <p><%= @position.description %>. </p>
        <p> Salary will be <strong><%= @position.salary %> yen per hour</strong></p>
        <p> Job duration : <%= @position.duration %> </p>
      </div>
      <div>
        <% if @status == false %>
         <div>
         <%= link_to "Apply", new_position_submission_path(@position), class: "btn btn-flat" %>
         </div>
        <% else %>
        <div class="mr-4">
        You've already applied!
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
